.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3); /* Transparent background */
  backdrop-filter: blur(10px); /* Blur effect */
  z-index: 1001; /* GREATER THEN NAVIGATION BAR Z-INDEX*/
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  visibility: hidden;
  transition: 0.3s;
}

.popup.active {
    opacity: 1;
    visibility: visible;
}

.popup-content {
    display: flex;
    align-items: center;
    justify-content: start;
    flex-direction: column;
    
    gap: 1.5rem;

    position: relative;
    padding: 20px;
    padding-top: 30px;
    width: 60vw;
    height: 45vw;
    text-align: center;
    
    background: rgba(0, 0, 0, 0.9); /* Transparent background */
    backdrop-filter: blur(10px); /* Blur effect */
    border: 1px solid rgba(255, 255, 255, 0.3);
    color: white;
    border-radius: 10px;
}

.popup img {
    width: 250px;
    max-height: 250px;
    object-fit: cover;
    object-position: center;
    border-radius: 8px;
}


.popup-link {
    display: inline-block;
    padding: 10px 60px;
    position: absolute;
    bottom: 40px;

    background: white;
    color: black;
    font-weight: bold;
    border-radius: 50px; /* Makes it circular */
    transition: 0.3s;
}

.popup-link:hover {
    color: white;
    background: rgba(0, 0, 0, 0.9); /* Transparent background */
    backdrop-filter: blur(10px); /* Blur effect */
    border: 1px solid rgba(255, 255, 255, 0.3);
}



.close-btn {
  position: absolute;
  top: 4px;
  right: 15px;
  font-size: 32px;
  cursor: pointer;
}

